* {
  box-sizing: border-box;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: outfit, sans-serif;
}
@media (max-width: 1242px) {
  .nav-container {
    min-width: 250px;
    width: 50px;
  }
}
.container {
  display: flex;
  width: 100%;
}

.nav-container header {
  display: block;
  margin: 0.8rem auto;
  width: 200px;
  height: 35px;
  font-size: 1.5rem;
}

.nav-container {
  display: block;
  position: fixed;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-right: 3px solid #4d4e53;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1.2rem auto;
  text-align: center;
}

.nav-container nav ul li {
  list-style-type: none;
  padding: 0.8rem 0 1rem 1.6rem;
  font-size: 1rem;
  border-top: 1px solid #4d4e53;
  width: 100%;
}

.nav-container nav ul a {
  text-decoration: none;
  color: #4d4e53;
}

.main-container {
  width: calc(100% - 250px);
  margin-left: 315px; /* Same as the nav width */
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.main-section {
  max-width: 1000px; /* limits width for better readability */
  margin: 10px 0 0 100px; /* centers it horizontally */
  padding: 15px auto; /* adds padding for better spacing */
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.6;
}

.main-section2 {
  max-width: 1000px; /* limits width for better readability */
  margin: 10px 0 0 0px; /* centers it horizontally */
  padding: 15px auto; /* adds padding for better spacing */
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.6;
}

h3 {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: -6rem;
}

.main-container section p {
  margin: 1rem 0;
  margin-left: -5rem;
}
.main-container section ul li {
  padding-top: 15px;
}

.code-block {
  display: flex;
  align-items: center; /* ✅ Vertically center content */
  background-color: #f7f7f7;
  width: 100%;
  min-height: 70px;
  margin-left: -70px;
}

code {
  font-family: "Courier Prime", monospace;
  font-weight: 100;
  font-size: 0.8rem;
  color: #4d4e53;
  width: 500px;
  width: 100%;
  text-align: left; /* ✅ Keep text left-aligned */
  background-color: transparent;
  padding-left: 20px;
}

.sub-list {
  padding-left: 4rem;
}

.sub-list li::marker {
  /*lower the size of the bullet point*/
  font-size: 1rem;
}
